In [3]:
import pandas as pd

#Zad 1

In [4]:
ordersdf = pd.read_csv('orders.csv')
ordersdf.head()

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1

In [5]:
ordersdf.describe()

       pages_visited  tshirt_price  tshirt_quantity
count   26552.000000  26552.000000     26552.000000
mean       10.838016     20.223768         2.693394
std         3.589299      2.220651         3.456182
min         2.000000     17.500000         1.000000
25%         8.000000     18.000000         1.000000
50%        11.000000     20.000000         2.000000
75%        13.000000     23.000000         3.000000
max        28.000000     24.000000        29.000000

In [6]:
ordersdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  object
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.4+ MB

a)

In [7]:
ordersdf['order_date'] = pd.to_datetime(ordersdf['order_date']).dt.date
ordersdf['order_date']

0        2016-09-04
1        2014-11-14
2        2017-02-26
3        2013-12-01
4        2015-10-22
            ...
26547    2016-11-19
26548    2016-08-02
26549    2017-03-09
26550    2016-10-04
26551    2016-12-16
Name: order_date, Length: 26552, dtype: object

b)

In [8]:
ordersdf['tshirt_category'].value_counts()

Hoodie             6229
White T-Shirt M    5547
Black T-Shirt M    4454
White T-Shirt F    3513
Black T-Shirt F    3248
Tennis Shirt       2153
Wh Tshirt M         462
Bl Tshirt M         377
Wh Tshirt F         312
Bl Tshirt F         257
Name: tshirt_category, dtype: int64

c)

In [9]:
def normalize_tshirts(text):
  # text = text.split()
  
  # if 'Wh' in text:
  #   text[0] = 'White'
  
  # if 'Bl' in text:
  #   text[0] = 'Black'
  
  # if 'T-shirt' in text:
  #   text[1] = 'T-Shirt'

  # return ' '.join(text)
  text = text.replace('Wh ', 'White ')
  text = text.replace('Bl ', 'Black ')
  text = text.replace('Tshirt', 'T-Shirt')
  text = text.replace('Tennis Shirt', 'T-Shirt')
  return text

In [10]:
ordersdf['tshirt_category'] = ordersdf['tshirt_category'].apply(normalize_tshirts)
ordersdf['tshirt_category'].value_counts()

Hoodie             6229
White T-Shirt M    6009
Black T-Shirt M    4831
White T-Shirt F    3825
Black T-Shirt F    3505
T-Shirt            2153
Name: tshirt_category, dtype: int64

In [11]:
ordersdf['tshirt_category'].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Black T-Shirt F', 'Hoodie',
       'Black T-Shirt M', 'T-Shirt'], dtype=object)

d)

In [12]:
def tshirt_type(text):
  return 'T-Shirt' if text != 'Hoodie' else 'Hoodie'

In [13]:
ordersdf['tshirt_type'] = ordersdf['tshirt_category'].apply(tshirt_type)
ordersdf['tshirt_type'].value_counts()

T-Shirt    20323
Hoodie      6229
Name: tshirt_type, dtype: int64

In [14]:
def tshirt_color(text):
  text = text.split()

  if 'White' in text:
    return 'White'
  elif 'Black' in text:
    return 'Black'
  else:
    return pd.NA

In [15]:
ordersdf['tshirt_color'] = ordersdf['tshirt_category'].apply(tshirt_color)
ordersdf['tshirt_color'].value_counts()

White    9834
Black    8336
Name: tshirt_color, dtype: int64

In [16]:
def tshirt_size(text):
  text = text.split()

  if 'F' in text:
    return 'F'
  elif 'M' in text:
    return 'M'
  else:
    return pd.NA

In [17]:
ordersdf['tshirt_size'] = ordersdf['tshirt_category'].apply(tshirt_size)
ordersdf['tshirt_size'].value_counts()

M    10840
F     7330
Name: tshirt_size, dtype: int64

In [18]:
ordersdf.drop(columns='tshirt_category', inplace=True)

e)

In [19]:
ordersdf[(ordersdf['order_date'] < pd.to_datetime('2022-08-02')) & (ordersdf['order_date'] > pd.to_datetime('2014-12-31'))]

/home/s26549/anaconda3/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_type,tshirt_color,tshirt_size
0,2016-09-04,9,HTS-038040-0002,038040,20.0,1,T-Shirt,White,M
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,18.0,3,T-Shirt,White,F
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,20.0,1,T-Shirt,White,M
5,2016-01-15,9,HTS-061311-0003,061311,17.5,4,T-Shirt,Black,F
12,2015-11-24,15,HTS-je57lh-0001,je57lh,23.0,3,Hoodie,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,20.0,1,T-Shirt,White,M
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,20.0,1,T-Shirt,White,M
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,20.0,1,T-Shirt,White,M
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,23.0,5,Hoodie,<NA>,<NA>
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,19.0,3,T-Shirt,Black,M

#Zad 2

In [20]:
customersdf = pd.read_csv('customers.csv')
customersdf.head()

,customerID,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False

a)

In [21]:
customersdf.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

b)

In [22]:
ordersdf.shape[0] == customersdf.shape[0]

False

c)

In [23]:
customersdf.rename(columns={'customerID':'customer_id'}, inplace=True)

d)

In [24]:
# musimy polaczyc na podstawie wspolnego indeksu,
# niektore zamowienia moga nie miec przypisanych klientow
# np zamowienie zlozone bez rejestracji konta/logowania
df = pd.merge(left=ordersdf, right=customersdf, how='left', on='customer_id')
df

,order_date,pages_visited,order_id,customer_id,tshirt_price,tshirt_quantity,tshirt_type,tshirt_color,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,20.0,1,T-Shirt,White,M,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-11-14,11,HTS-801797-0001,801797,20.0,1,T-Shirt,White,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,18.0,3,T-Shirt,White,F,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
3,2013-12-01,10,HTS-914324-0001,914324,18.0,1,T-Shirt,White,F,F,1959/10/22,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,51.99.199.27,False
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,20.0,1,T-Shirt,White,M,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26804,2016-11-19,13,HTS-n641x4-0001,n641x4,20.0,1,T-Shirt,White,M,NaN,NaN,NaN,NaN,NaN
26805,2016-08-02,4,HTS-q0nm12-0001,q0nm12,20.0,1,T-Shirt,White,M,NaN,NaN,NaN,NaN,NaN
26806,2017-03-09,6,HTS-sby0iz-0001,sby0iz,20.0,1,T-Shirt,White,M,NaN,NaN,NaN,NaN,NaN
26807,2016-10-04,11,HTS-uz70x4-0001,uz70x4,23.0,5,Hoodie,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN
26808,2016-12-16,9,HTS-xnbc22-0001,xnbc22,19.0,3,T-Shirt,Black,M,NaN,NaN,NaN,NaN,NaN

In [25]:
df.to_csv('customer_orders.csv', sep=';', index=False)