# Praca Domowa

In [3]:
import numpy as np
import pandas as pd

Zad 1

In [4]:
np.genfromtxt('Zadanie_1.csv', delimiter=';')  # bez konwertowania
# to samo co read csv i potem to numpy arr

array([[         nan,          nan,          nan,          nan,
                 nan,          nan,          nan,          nan,
                 nan,          nan,          nan,          nan,
                 nan,          nan,          nan,          nan],
       [3.600000e+01, 2.700000e+01, 7.100000e+01, 8.100000e+00,
        3.340000e+00, 1.140000e+01, 8.150000e+01, 3.243000e+03,
        8.800000e+00, 4.260000e+01, 1.170000e+01, 2.100000e+01,
                 nan, 5.900000e+01, 5.900000e+01, 9.218700e+02],
       [3.500000e+01, 2.300000e+01, 7.200000e+01, 1.110000e+01,
        3.140000e+00, 1.100000e+01, 7.880000e+01, 4.281000e+03,
        3.600000e+00, 5.070000e+01, 1.440000e+01, 8.000000e+00,
        1.000000e+01, 3.900000e+01, 5.700000e+01, 9.978750e+02],
       [4.400000e+01, 2.900000e+01, 7.400000e+01, 1.040000e+01,
        3.210000e+00, 9.800000e+00, 8.160000e+01, 4.260000e+03,
        8.000000e-01, 3.940000e+01,          nan, 6.000000e+00,
        6.000000e+00, 3.300000e+01, 5.400000e+01, 9.623540e+02],
       [4.700000e+01, 4.500000e+01, 7.900000e+01, 6.500000e+00,
        3.410000e+00, 1.110000e+01, 7.750000e+01, 3.125000e+03,
        2.710000e+01, 5.020000e+01, 2.060000e+01, 1.800000e+01,
        8.000000e+00, 2.400000e+01, 5.600000e+01, 9.822910e+02],
       [4.300000e+01, 3.500000e+01, 7.700000e+01, 7.600000e+00,
        3.440000e+00, 9.600000e+00, 8.460000e+01, 6.441000e+03,
        2.440000e+01, 4.370000e+01, 1.430000e+01, 4.300000e+01,
        3.800000e+01,          nan, 5.500000e+01, 1.071289e+03],
       [5.300000e+01, 4.500000e+01, 8.000000e+01, 7.700000e+00,
        3.450000e+00, 1.020000e+01, 6.680000e+01, 3.325000e+03,
        3.850000e+01, 4.310000e+01, 2.550000e+01, 3.000000e+01,
        3.200000e+01, 7.200000e+01, 5.400000e+01, 1.030380e+03],
       [4.300000e+01, 3.000000e+01, 7.400000e+01, 1.090000e+01,
        3.230000e+00, 1.210000e+01, 8.390000e+01, 4.679000e+03,
        3.500000e+00, 4.920000e+01, 1.130000e+01, 2.100000e+01,
        3.200000e+01, 6.200000e+01, 5.600000e+01, 9.347000e+02],
       [4.500000e+01, 3.000000e+01, 7.300000e+01, 9.300000e+00,
        3.290000e+00, 1.060000e+01, 8.600000e+01, 2.140000e+03,
        5.300000e+00, 4.040000e+01, 1.050000e+01, 6.000000e+00,
        4.000000e+00, 4.000000e+00, 5.600000e+01, 8.995290e+02],
       [3.600000e+01, 2.400000e+01, 7.000000e+01, 9.000000e+00,
        3.310000e+00, 1.050000e+01, 8.320000e+01, 6.582000e+03,
        8.100000e+00, 4.250000e+01, 1.260000e+01, 1.800000e+01,
        1.200000e+01, 3.700000e+01, 6.100000e+01, 1.001902e+03],
       [3.600000e+01, 2.700000e+01, 7.200000e+01, 9.500000e+00,
        3.360000e+00, 1.070000e+01, 7.930000e+01, 4.213000e+03,
        6.700000e+00, 4.100000e+01, 1.320000e+01, 1.200000e+01,
        7.000000e+00, 2.000000e+01, 5.900000e+01, 9.123470e+02],
       [5.200000e+01, 4.200000e+01, 7.900000e+01, 7.700000e+00,
        3.390000e+00, 9.600000e+00, 6.920000e+01, 2.302000e+03,
        2.220000e+01, 4.130000e+01, 2.420000e+01, 1.800000e+01,
        8.000000e+00, 2.700000e+01, 5.600000e+01, 1.017613e+03],
       [3.300000e+01, 2.600000e+01, 7.600000e+01, 8.600000e+00,
        3.200000e+00, 1.090000e+01, 8.340000e+01, 6.122000e+03,
        1.630000e+01, 4.490000e+01, 1.070000e+01, 8.800000e+01,
        6.300000e+01, 2.780000e+02, 5.800000e+01, 1.024885e+03],
       [4.000000e+01, 3.400000e+01, 7.700000e+01, 9.200000e+00,
        3.210000e+00, 1.020000e+01, 7.700000e+01, 4.101000e+03,
        1.300000e+01, 4.570000e+01, 1.510000e+01, 2.600000e+01,
        2.600000e+01, 1.460000e+02, 5.700000e+01, 9.704670e+02],
       [3.500000e+01, 2.800000e+01, 7.100000e+01, 8.800000e+00,
        3.290000e+00, 1.110000e+01, 8.630000e+01, 3.042000e+03,
        1.470000e+01, 4.460000e+01, 1.140000e+01, 3.100000e+01,
        2.100000e+01,          nan, 6.000000e+01, 9.859500e+02],
       [3.700000e+01, 3.100000e+01, 7.500000e+01, 8.000000e+00,
        3.260000e+00, 1.190000e+01, 7.840000e+01, 4.259000e+03,
        1.310000e+01, 4.960000e+01, 1.390000e+01, 2.300000e+01,
        9.000000e+00, 1.500000e+01, 5.800000e+01, 9.588390e+02],
       [3.500000e+01, 4.600000e+01, 8.500000e+01, 7.100000e+00,
        3.220000e+00, 1.180000e+01, 7.990000e+01, 1.441000e+03,
        1.480000e+01, 5.120000e+01, 1.610000e+01, 1.000000e+00,
        1.000000e+00, 1.000000e+00, 5.400000e+01, 8.601010e+02],
       [3.600000e+01, 3.000000e+01, 7.500000e+01, 7.500000e+00,
        3.350000e+00, 1.140000e+01, 8.190000e+01, 4.029000e+03,
        1.240000e+01, 4.400000e+01, 1.200000e+01, 6.000000e+00,
        4.000000e+00, 1.600000e+01, 5.800000e+01, 9.362340e+02],
       [1.500000e+01, 3.000000e+01, 7.300000e+01, 8.200000e+00,
        3.150000e+00, 1.220000e+01, 8.420000e+01, 4.824000e+03,
        4.700000e+00, 5.310000e+01, 1.270000e+01, 1.700000e+01,
        8.000000e+00, 2.800000e+01, 3.800000e+01, 8.717660e+02],
       [3.100000e+01, 2.700000e+01, 7.400000e+01, 7.200000e+00,
        3.440000e+00, 1.080000e+01, 8.700000e+01, 4.834000e+03,
        1.580000e+01, 4.350000e+01, 1.360000e+01, 5.200000e+01,
        3.500000e+01, 1.240000e+02, 5.900000e+01, 9.592210e+02],
       [         nan, 2.400000e+01, 7.200000e+01, 6.500000e+00,
        3.530000e+00, 1.080000e+01, 7.950000e+01, 3.694000e+03,
        1.310000e+01, 3.380000e+01, 1.240000e+01, 1.100000e+01,
        4.000000e+00, 1.100000e+01, 6.100000e+01, 9.411810e+02],
       [3.100000e+01, 4.500000e+01, 8.500000e+01, 7.300000e+00,
        3.220000e+00, 1.140000e+01, 8.070000e+01, 1.844000e+03,
        1.150000e+01, 4.810000e+01, 1.850000e+01, 1.000000e+00,
        1.000000e+00, 1.000000e+00, 5.300000e+01, 8.917080e+02],
       [3.100000e+01, 2.400000e+01, 7.200000e+01, 9.000000e+00,
        3.370000e+00, 1.090000e+01, 8.280000e+01, 3.226000e+03,
        5.100000e+00, 4.520000e+01, 1.230000e+01, 5.000000e+00,
        3.000000e+00, 1.000000e+01, 6.100000e+01, 8.713380e+02],
       [4.200000e+01, 4.000000e+01, 7.700000e+01, 6.100000e+00,
        3.450000e+00, 1.040000e+01, 7.180000e+01, 2.269000e+03,
        2.270000e+01, 4.140000e+01, 1.950000e+01, 8.000000e+00,
        3.000000e+00, 5.000000e+00, 5.300000e+01, 9.711220e+02],
       [4.300000e+01, 2.700000e+01, 7.200000e+01, 9.000000e+00,
        3.250000e+00, 1.150000e+01, 8.710000e+01, 2.909000e+03,
        7.200000e+00, 5.160000e+01, 9.500000e+00, 7.000000e+00,
                 nan, 1.000000e+01, 5.600000e+01, 8.874660e+02],
       [4.600000e+01, 5.500000e+01, 8.400000e+01, 5.600000e+00,
        3.350000e+00, 1.140000e+01, 7.970000e+01, 2.647000e+03,
        2.100000e+01, 4.690000e+01, 1.790000e+01, 6.000000e+00,
        5.000000e+00, 1.000000e+00, 5.900000e+01, 9.525290e+02],
       [3.900000e+01,          nan, 7.600000e+01, 8.700000e+00,
        3.230000e+00, 1.140000e+01, 7.860000e+01, 4.412000e+03,
        1.560000e+01, 4.660000e+01, 1.320000e+01, 1.300000e+01,
        7.000000e+00, 3.300000e+01, 6.000000e+01, 9.686650e+02],
       [3.500000e+01, 3.100000e+01, 8.100000e+01, 9.200000e+00,
        3.100000e+00, 1.200000e+01, 7.830000e+01, 3.262000e+03,
        1.260000e+01, 4.860000e+01, 1.390000e+01, 7.000000e+00,
        4.000000e+00, 4.000000e+00, 5.500000e+01, 9.197290e+02],
       [         nan, 3.200000e+01, 7.400000e+01, 1.010000e+01,
        3.380000e+00, 9.500000e+00, 7.920000e+01, 3.214000e+03,
        2.900000e+00, 4.370000e+01, 1.200000e+01, 1.100000e+01,
        7.000000e+00, 3.200000e+01, 5.400000e+01, 8.440530e+02],
       [1.100000e+01, 5.300000e+01, 6.800000e+01, 9.200000e+00,
        2.990000e+00, 1.210000e+01, 9.060000e+01, 4.700000e+03,
        7.800000e+00, 4.890000e+01, 1.230000e+01, 6.480000e+02,
        3.190000e+02, 1.300000e+02, 4.700000e+01, 8.618330e+02],
       [3.000000e+01, 3.500000e+01, 7.100000e+01, 8.300000e+00,
        3.370000e+00, 9.900000e+00, 7.740000e+01, 4.474000e+03,
        1.310000e+01, 4.260000e+01, 1.770000e+01, 3.800000e+01,
        3.700000e+01, 1.930000e+02, 5.700000e+01, 9.892650e+02],
       [5.000000e+01, 4.200000e+01, 8.200000e+01, 7.300000e+00,
        3.490000e+00, 1.040000e+01, 7.250000e+01, 3.497000e+03,
        3.670000e+01, 4.330000e+01, 2.640000e+01, 1.500000e+01,
        1.000000e+01, 3.400000e+01, 5.900000e+01, 1.006490e+03],
       [6.000000e+01, 6.700000e+01, 8.200000e+01, 1.000000e+01,
        2.980000e+00, 1.150000e+01, 8.860000e+01, 4.657000e+03,
        1.360000e+01, 4.730000e+01, 2.240000e+01,          nan,
        1.000000e+00, 1.000000e+00, 6.000000e+01, 8.614390e+02],
       [         nan,          nan, 6.900000e+01, 8.800000e+00,
        3.260000e+00, 1.110000e+01,          nan, 2.934000e+03,
        5.800000e+00, 4.400000e+01, 9.400000e+00, 3.300000e+01,
        2.300000e+01, 1.250000e+02, 6.400000e+01, 9.291500e+02],
       [2.500000e+01, 1.200000e+01, 7.300000e+01, 9.200000e+00,
        3.280000e+00, 1.210000e+01, 8.310000e+01, 2.095000e+03,
        2.000000e+00, 5.190000e+01, 9.800000e+00, 2.000000e+01,
        1.100000e+01, 2.600000e+01, 5.000000e+01, 8.576220e+02],
       [4.500000e+01, 4.000000e+01, 8.000000e+01, 8.300000e+00,
        3.320000e+00, 1.010000e+01, 7.030000e+01, 2.682000e+03,
        2.100000e+01, 4.610000e+01, 2.410000e+01, 1.700000e+01,
        1.400000e+01, 7.800000e+01, 5.600000e+01, 9.610090e+02],
       [4.600000e+01, 3.000000e+01,          nan, 1.020000e+01,
        3.160000e+00, 1.130000e+01, 8.320000e+01, 3.327000e+03,
                 nan, 4.530000e+01, 1.220000e+01, 4.000000e+00,
        3.000000e+00, 8.000000e+00, 5.800000e+01, 9.232340e+02],
       [5.400000e+01, 5.400000e+01, 8.100000e+01, 7.400000e+00,
        3.360000e+00, 9.700000e+00, 7.280000e+01, 3.172000e+03,
        3.140000e+01, 4.550000e+01, 2.420000e+01,          nan,
        1.700000e+01, 1.000000e+00, 6.200000e+01, 1.113156e+03],
       [4.200000e+01, 3.300000e+01, 7.700000e+01, 9.700000e+00,
        3.300000e+00, 1.070000e+01, 8.350000e+01, 7.462000e+03,
        1.130000e+01, 4.870000e+01, 1.240000e+01, 4.100000e+01,
        2.600000e+01, 1.080000e+02, 5.800000e+01, 9.946480e+02],
       [4.200000e+01, 3.200000e+01, 7.600000e+01, 9.100000e+00,
        3.320000e+00, 1.050000e+01, 8.750000e+01, 6.092000e+03,
        1.750000e+01, 4.530000e+01, 1.320000e+01, 2.900000e+01,
        3.200000e+01, 1.610000e+02, 5.400000e+01, 1.015023e+03],
       [3.600000e+01, 2.900000e+01, 7.200000e+01, 9.500000e+00,
        3.320000e+00, 1.060000e+01, 7.760000e+01, 3.437000e+03,
        8.100000e+00, 4.550000e+01, 1.380000e+01, 4.500000e+01,
        5.900000e+01, 2.630000e+02, 5.600000e+01, 9.912900e+02],
       [3.700000e+01, 3.800000e+01, 6.700000e+01, 1.130000e+01,
        2.990000e+00, 1.200000e+01, 8.150000e+01, 3.387000e+03,
        3.600000e+00, 5.030000e+01, 1.350000e+01, 5.600000e+01,
        2.100000e+01, 4.400000e+01, 7.300000e+01, 8.939910e+02],
       [4.200000e+01, 2.900000e+01, 7.200000e+01, 1.070000e+01,
        3.190000e+00, 1.010000e+01, 7.950000e+01, 3.508000e+03,
        2.200000e+00, 3.830000e+01, 1.570000e+01, 6.000000e+00,
        4.000000e+00, 1.800000e+01, 5.600000e+01, 9.385000e+02],
       [4.100000e+01, 3.300000e+01, 7.700000e+01, 1.120000e+01,
        3.800000e+00, 9.600000e+00, 7.990000e+01, 4.843000e+03,
        2.700000e+00, 3.860000e+01, 1.410000e+01, 1.100000e+01,
        1.100000e+01, 8.900000e+01, 5.400000e+01, 9.461850e+02],
       [4.400000e+01, 3.900000e+01, 7.800000e+01, 8.200000e+00,
        3.320000e+00, 1.100000e+01, 7.990000e+01, 3.768000e+03,
        2.860000e+01, 4.950000e+01, 1.750000e+01, 1.200000e+01,
        9.000000e+00, 4.800000e+01, 5.300000e+01, 1.025502e+03],
       [3.200000e+01, 2.500000e+01, 7.200000e+01, 1.090000e+01,
        3.210000e+00,          nan, 8.250000e+01, 4.355000e+03,
        5.000000e+00, 4.640000e+01, 1.080000e+01, 7.000000e+00,
        4.000000e+00, 1.800000e+01, 6.000000e+01, 8.742810e+02],
       [3.400000e+01, 3.200000e+01, 7.900000e+01, 9.300000e+00,
        3.230000e+00, 9.700000e+00, 7.680000e+01, 5.160000e+03,
        1.720000e+01, 4.510000e+01, 1.530000e+01, 3.100000e+01,
        1.500000e+01, 6.800000e+01, 5.700000e+01, 9.535600e+02],
       [1.000000e+01, 5.500000e+01, 7.000000e+01, 7.300000e+00,
        3.110000e+00, 1.210000e+01, 8.890000e+01, 3.033000e+03,
        5.900000e+00, 5.100000e+01, 1.400000e+01, 1.440000e+02,
        6.600000e+01,          nan, 6.100000e+01, 8.397090e+02],
       [1.800000e+01, 4.800000e+01, 6.300000e+01, 9.200000e+00,
        2.920000e+00, 1.220000e+01, 8.770000e+01, 4.253000e+03,
        1.370000e+01, 5.120000e+01, 1.200000e+01, 3.110000e+02,
        1.710000e+02, 8.600000e+01, 7.100000e+01, 9.117010e+02],
       [1.300000e+01, 4.900000e+01, 6.800000e+01, 7.000000e+00,
        3.360000e+00, 1.220000e+01, 9.070000e+01, 2.702000e+03,
        3.000000e+00, 5.190000e+01, 9.700000e+00, 1.050000e+02,
        3.200000e+01, 3.000000e+00, 7.100000e+01, 7.907330e+02],
       [3.500000e+01, 4.000000e+01, 6.400000e+01, 9.600000e+00,
        3.200000e+00, 1.220000e+01, 8.250000e+01, 3.626000e+03,
        5.700000e+00, 5.430000e+01, 1.010000e+01, 2.000000e+01,
        7.000000e+00, 2.000000e+01, 7.200000e+01, 8.992640e+02],
       [4.500000e+01, 2.800000e+01, 7.400000e+01, 1.060000e+01,
        3.210000e+00, 1.110000e+01, 8.260000e+01, 1.883000e+03,
        3.400000e+00, 4.190000e+01, 1.230000e+01, 5.000000e+00,
        4.000000e+00, 2.000000e+01, 5.600000e+01, 9.041550e+02],
       [3.800000e+01,          nan, 7.200000e+01, 9.800000e+00,
        3.340000e+00, 1.140000e+01, 7.800000e+01, 4.923000e+03,
        3.800000e+00, 5.050000e+01, 1.110000e+01, 8.000000e+00,
        5.000000e+00, 2.500000e+01, 6.100000e+01, 9.506720e+02],
       [3.100000e+01, 2.600000e+01, 7.300000e+01, 9.300000e+00,
        3.220000e+00, 1.070000e+01, 8.130000e+01, 3.249000e+03,
        9.500000e+00, 4.390000e+01, 1.360000e+01, 1.100000e+01,
        7.000000e+00, 2.500000e+01, 5.900000e+01, 9.724640e+02],
       [4.000000e+01, 2.300000e+01, 7.100000e+01, 1.130000e+01,
        3.280000e+00, 1.030000e+01, 7.380000e+01, 1.671000e+03,
        2.500000e+00, 4.740000e+01, 1.350000e+01, 5.000000e+00,
        2.000000e+00, 1.100000e+01, 6.000000e+01, 9.122020e+02],
       [         nan, 3.700000e+01, 7.800000e+01, 6.200000e+00,
        3.250000e+00, 1.230000e+01, 8.950000e+01, 5.308000e+03,
        2.590000e+01, 5.970000e+01, 1.030000e+01, 6.500000e+01,
        2.800000e+01, 1.020000e+02, 5.200000e+01, 9.678030e+02],
       [2.800000e+01, 3.200000e+01, 8.100000e+01, 7.000000e+00,
        3.270000e+00, 1.210000e+01, 8.100000e+01, 3.665000e+03,
        7.500000e+00, 5.160000e+01, 1.320000e+01, 4.000000e+00,
        2.000000e+00, 1.000000e+00, 5.400000e+01, 8.237640e+02],
       [4.500000e+01, 3.300000e+01, 7.600000e+01, 7.700000e+00,
                 nan, 1.130000e+01, 8.220000e+01, 3.152000e+03,
        1.210000e+01, 4.730000e+01, 1.090000e+01, 1.400000e+01,
        1.100000e+01, 4.200000e+01, 5.600000e+01, 1.003502e+03],
       [4.500000e+01, 2.400000e+01, 7.000000e+01, 1.180000e+01,
        3.250000e+00, 1.110000e+01, 7.980000e+01, 3.678000e+03,
        1.000000e+00, 4.480000e+01, 1.400000e+01, 7.000000e+00,
        3.000000e+00, 8.000000e+00, 5.600000e+01, 8.956960e+02],
       [4.200000e+01, 8.300000e+01, 7.600000e+01, 9.700000e+00,
        3.220000e+00, 9.000000e+00, 7.620000e+01, 9.699000e+03,
        4.800000e+00, 4.220000e+01, 1.450000e+01, 8.000000e+00,
        8.000000e+00, 4.900000e+01, 5.400000e+01, 9.118170e+02],
       [3.800000e+01, 2.800000e+01, 7.200000e+01, 8.900000e+00,
        3.480000e+00, 1.070000e+01, 7.980000e+01, 3.451000e+03,
        1.170000e+01, 3.750000e+01, 1.300000e+01, 1.400000e+01,
        1.300000e+01, 3.900000e+01, 5.800000e+01, 9.544420e+02]])

In [5]:
z1nparr = np.genfromtxt('Zadanie_1.csv', delimiter=';', skip_header=True)
z1nparr

array([[3.600000e+01, 2.700000e+01, 7.100000e+01, 8.100000e+00,
        3.340000e+00, 1.140000e+01, 8.150000e+01, 3.243000e+03,
        8.800000e+00, 4.260000e+01, 1.170000e+01, 2.100000e+01,
                 nan, 5.900000e+01, 5.900000e+01, 9.218700e+02],
       [3.500000e+01, 2.300000e+01, 7.200000e+01, 1.110000e+01,
        3.140000e+00, 1.100000e+01, 7.880000e+01, 4.281000e+03,
        3.600000e+00, 5.070000e+01, 1.440000e+01, 8.000000e+00,
        1.000000e+01, 3.900000e+01, 5.700000e+01, 9.978750e+02],
       [4.400000e+01, 2.900000e+01, 7.400000e+01, 1.040000e+01,
        3.210000e+00, 9.800000e+00, 8.160000e+01, 4.260000e+03,
        8.000000e-01, 3.940000e+01,          nan, 6.000000e+00,
        6.000000e+00, 3.300000e+01, 5.400000e+01, 9.623540e+02],
       [4.700000e+01, 4.500000e+01, 7.900000e+01, 6.500000e+00,
        3.410000e+00, 1.110000e+01, 7.750000e+01, 3.125000e+03,
        2.710000e+01, 5.020000e+01, 2.060000e+01, 1.800000e+01,
        8.000000e+00, 2.400000e+01, 5.600000e+01, 9.822910e+02],
       [4.300000e+01, 3.500000e+01, 7.700000e+01, 7.600000e+00,
        3.440000e+00, 9.600000e+00, 8.460000e+01, 6.441000e+03,
        2.440000e+01, 4.370000e+01, 1.430000e+01, 4.300000e+01,
        3.800000e+01,          nan, 5.500000e+01, 1.071289e+03],
       [5.300000e+01, 4.500000e+01, 8.000000e+01, 7.700000e+00,
        3.450000e+00, 1.020000e+01, 6.680000e+01, 3.325000e+03,
        3.850000e+01, 4.310000e+01, 2.550000e+01, 3.000000e+01,
        3.200000e+01, 7.200000e+01, 5.400000e+01, 1.030380e+03],
       [4.300000e+01, 3.000000e+01, 7.400000e+01, 1.090000e+01,
        3.230000e+00, 1.210000e+01, 8.390000e+01, 4.679000e+03,
        3.500000e+00, 4.920000e+01, 1.130000e+01, 2.100000e+01,
        3.200000e+01, 6.200000e+01, 5.600000e+01, 9.347000e+02],
       [4.500000e+01, 3.000000e+01, 7.300000e+01, 9.300000e+00,
        3.290000e+00, 1.060000e+01, 8.600000e+01, 2.140000e+03,
        5.300000e+00, 4.040000e+01, 1.050000e+01, 6.000000e+00,
        4.000000e+00, 4.000000e+00, 5.600000e+01, 8.995290e+02],
       [3.600000e+01, 2.400000e+01, 7.000000e+01, 9.000000e+00,
        3.310000e+00, 1.050000e+01, 8.320000e+01, 6.582000e+03,
        8.100000e+00, 4.250000e+01, 1.260000e+01, 1.800000e+01,
        1.200000e+01, 3.700000e+01, 6.100000e+01, 1.001902e+03],
       [3.600000e+01, 2.700000e+01, 7.200000e+01, 9.500000e+00,
        3.360000e+00, 1.070000e+01, 7.930000e+01, 4.213000e+03,
        6.700000e+00, 4.100000e+01, 1.320000e+01, 1.200000e+01,
        7.000000e+00, 2.000000e+01, 5.900000e+01, 9.123470e+02],
       [5.200000e+01, 4.200000e+01, 7.900000e+01, 7.700000e+00,
        3.390000e+00, 9.600000e+00, 6.920000e+01, 2.302000e+03,
        2.220000e+01, 4.130000e+01, 2.420000e+01, 1.800000e+01,
        8.000000e+00, 2.700000e+01, 5.600000e+01, 1.017613e+03],
       [3.300000e+01, 2.600000e+01, 7.600000e+01, 8.600000e+00,
        3.200000e+00, 1.090000e+01, 8.340000e+01, 6.122000e+03,
        1.630000e+01, 4.490000e+01, 1.070000e+01, 8.800000e+01,
        6.300000e+01, 2.780000e+02, 5.800000e+01, 1.024885e+03],
       [4.000000e+01, 3.400000e+01, 7.700000e+01, 9.200000e+00,
        3.210000e+00, 1.020000e+01, 7.700000e+01, 4.101000e+03,
        1.300000e+01, 4.570000e+01, 1.510000e+01, 2.600000e+01,
        2.600000e+01, 1.460000e+02, 5.700000e+01, 9.704670e+02],
       [3.500000e+01, 2.800000e+01, 7.100000e+01, 8.800000e+00,
        3.290000e+00, 1.110000e+01, 8.630000e+01, 3.042000e+03,
        1.470000e+01, 4.460000e+01, 1.140000e+01, 3.100000e+01,
        2.100000e+01,          nan, 6.000000e+01, 9.859500e+02],
       [3.700000e+01, 3.100000e+01, 7.500000e+01, 8.000000e+00,
        3.260000e+00, 1.190000e+01, 7.840000e+01, 4.259000e+03,
        1.310000e+01, 4.960000e+01, 1.390000e+01, 2.300000e+01,
        9.000000e+00, 1.500000e+01, 5.800000e+01, 9.588390e+02],
       [3.500000e+01, 4.600000e+01, 8.500000e+01, 7.100000e+00,
        3.220000e+00, 1.180000e+01, 7.990000e+01, 1.441000e+03,
        1.480000e+01, 5.120000e+01, 1.610000e+01, 1.000000e+00,
        1.000000e+00, 1.000000e+00, 5.400000e+01, 8.601010e+02],
       [3.600000e+01, 3.000000e+01, 7.500000e+01, 7.500000e+00,
        3.350000e+00, 1.140000e+01, 8.190000e+01, 4.029000e+03,
        1.240000e+01, 4.400000e+01, 1.200000e+01, 6.000000e+00,
        4.000000e+00, 1.600000e+01, 5.800000e+01, 9.362340e+02],
       [1.500000e+01, 3.000000e+01, 7.300000e+01, 8.200000e+00,
        3.150000e+00, 1.220000e+01, 8.420000e+01, 4.824000e+03,
        4.700000e+00, 5.310000e+01, 1.270000e+01, 1.700000e+01,
        8.000000e+00, 2.800000e+01, 3.800000e+01, 8.717660e+02],
       [3.100000e+01, 2.700000e+01, 7.400000e+01, 7.200000e+00,
        3.440000e+00, 1.080000e+01, 8.700000e+01, 4.834000e+03,
        1.580000e+01, 4.350000e+01, 1.360000e+01, 5.200000e+01,
        3.500000e+01, 1.240000e+02, 5.900000e+01, 9.592210e+02],
       [         nan, 2.400000e+01, 7.200000e+01, 6.500000e+00,
        3.530000e+00, 1.080000e+01, 7.950000e+01, 3.694000e+03,
        1.310000e+01, 3.380000e+01, 1.240000e+01, 1.100000e+01,
        4.000000e+00, 1.100000e+01, 6.100000e+01, 9.411810e+02],
       [3.100000e+01, 4.500000e+01, 8.500000e+01, 7.300000e+00,
        3.220000e+00, 1.140000e+01, 8.070000e+01, 1.844000e+03,
        1.150000e+01, 4.810000e+01, 1.850000e+01, 1.000000e+00,
        1.000000e+00, 1.000000e+00, 5.300000e+01, 8.917080e+02],
       [3.100000e+01, 2.400000e+01, 7.200000e+01, 9.000000e+00,
        3.370000e+00, 1.090000e+01, 8.280000e+01, 3.226000e+03,
        5.100000e+00, 4.520000e+01, 1.230000e+01, 5.000000e+00,
        3.000000e+00, 1.000000e+01, 6.100000e+01, 8.713380e+02],
       [4.200000e+01, 4.000000e+01, 7.700000e+01, 6.100000e+00,
        3.450000e+00, 1.040000e+01, 7.180000e+01, 2.269000e+03,
        2.270000e+01, 4.140000e+01, 1.950000e+01, 8.000000e+00,
        3.000000e+00, 5.000000e+00, 5.300000e+01, 9.711220e+02],
       [4.300000e+01, 2.700000e+01, 7.200000e+01, 9.000000e+00,
        3.250000e+00, 1.150000e+01, 8.710000e+01, 2.909000e+03,
        7.200000e+00, 5.160000e+01, 9.500000e+00, 7.000000e+00,
                 nan, 1.000000e+01, 5.600000e+01, 8.874660e+02],
       [4.600000e+01, 5.500000e+01, 8.400000e+01, 5.600000e+00,
        3.350000e+00, 1.140000e+01, 7.970000e+01, 2.647000e+03,
        2.100000e+01, 4.690000e+01, 1.790000e+01, 6.000000e+00,
        5.000000e+00, 1.000000e+00, 5.900000e+01, 9.525290e+02],
       [3.900000e+01,          nan, 7.600000e+01, 8.700000e+00,
        3.230000e+00, 1.140000e+01, 7.860000e+01, 4.412000e+03,
        1.560000e+01, 4.660000e+01, 1.320000e+01, 1.300000e+01,
        7.000000e+00, 3.300000e+01, 6.000000e+01, 9.686650e+02],
       [3.500000e+01, 3.100000e+01, 8.100000e+01, 9.200000e+00,
        3.100000e+00, 1.200000e+01, 7.830000e+01, 3.262000e+03,
        1.260000e+01, 4.860000e+01, 1.390000e+01, 7.000000e+00,
        4.000000e+00, 4.000000e+00, 5.500000e+01, 9.197290e+02],
       [         nan, 3.200000e+01, 7.400000e+01, 1.010000e+01,
        3.380000e+00, 9.500000e+00, 7.920000e+01, 3.214000e+03,
        2.900000e+00, 4.370000e+01, 1.200000e+01, 1.100000e+01,
        7.000000e+00, 3.200000e+01, 5.400000e+01, 8.440530e+02],
       [1.100000e+01, 5.300000e+01, 6.800000e+01, 9.200000e+00,
        2.990000e+00, 1.210000e+01, 9.060000e+01, 4.700000e+03,
        7.800000e+00, 4.890000e+01, 1.230000e+01, 6.480000e+02,
        3.190000e+02, 1.300000e+02, 4.700000e+01, 8.618330e+02],
       [3.000000e+01, 3.500000e+01, 7.100000e+01, 8.300000e+00,
        3.370000e+00, 9.900000e+00, 7.740000e+01, 4.474000e+03,
        1.310000e+01, 4.260000e+01, 1.770000e+01, 3.800000e+01,
        3.700000e+01, 1.930000e+02, 5.700000e+01, 9.892650e+02],
       [5.000000e+01, 4.200000e+01, 8.200000e+01, 7.300000e+00,
        3.490000e+00, 1.040000e+01, 7.250000e+01, 3.497000e+03,
        3.670000e+01, 4.330000e+01, 2.640000e+01, 1.500000e+01,
        1.000000e+01, 3.400000e+01, 5.900000e+01, 1.006490e+03],
       [6.000000e+01, 6.700000e+01, 8.200000e+01, 1.000000e+01,
        2.980000e+00, 1.150000e+01, 8.860000e+01, 4.657000e+03,
        1.360000e+01, 4.730000e+01, 2.240000e+01,          nan,
        1.000000e+00, 1.000000e+00, 6.000000e+01, 8.614390e+02],
       [         nan,          nan, 6.900000e+01, 8.800000e+00,
        3.260000e+00, 1.110000e+01,          nan, 2.934000e+03,
        5.800000e+00, 4.400000e+01, 9.400000e+00, 3.300000e+01,
        2.300000e+01, 1.250000e+02, 6.400000e+01, 9.291500e+02],
       [2.500000e+01, 1.200000e+01, 7.300000e+01, 9.200000e+00,
        3.280000e+00, 1.210000e+01, 8.310000e+01, 2.095000e+03,
        2.000000e+00, 5.190000e+01, 9.800000e+00, 2.000000e+01,
        1.100000e+01, 2.600000e+01, 5.000000e+01, 8.576220e+02],
       [4.500000e+01, 4.000000e+01, 8.000000e+01, 8.300000e+00,
        3.320000e+00, 1.010000e+01, 7.030000e+01, 2.682000e+03,
        2.100000e+01, 4.610000e+01, 2.410000e+01, 1.700000e+01,
        1.400000e+01, 7.800000e+01, 5.600000e+01, 9.610090e+02],
       [4.600000e+01, 3.000000e+01,          nan, 1.020000e+01,
        3.160000e+00, 1.130000e+01, 8.320000e+01, 3.327000e+03,
                 nan, 4.530000e+01, 1.220000e+01, 4.000000e+00,
        3.000000e+00, 8.000000e+00, 5.800000e+01, 9.232340e+02],
       [5.400000e+01, 5.400000e+01, 8.100000e+01, 7.400000e+00,
        3.360000e+00, 9.700000e+00, 7.280000e+01, 3.172000e+03,
        3.140000e+01, 4.550000e+01, 2.420000e+01,          nan,
        1.700000e+01, 1.000000e+00, 6.200000e+01, 1.113156e+03],
       [4.200000e+01, 3.300000e+01, 7.700000e+01, 9.700000e+00,
        3.300000e+00, 1.070000e+01, 8.350000e+01, 7.462000e+03,
        1.130000e+01, 4.870000e+01, 1.240000e+01, 4.100000e+01,
        2.600000e+01, 1.080000e+02, 5.800000e+01, 9.946480e+02],
       [4.200000e+01, 3.200000e+01, 7.600000e+01, 9.100000e+00,
        3.320000e+00, 1.050000e+01, 8.750000e+01, 6.092000e+03,
        1.750000e+01, 4.530000e+01, 1.320000e+01, 2.900000e+01,
        3.200000e+01, 1.610000e+02, 5.400000e+01, 1.015023e+03],
       [3.600000e+01, 2.900000e+01, 7.200000e+01, 9.500000e+00,
        3.320000e+00, 1.060000e+01, 7.760000e+01, 3.437000e+03,
        8.100000e+00, 4.550000e+01, 1.380000e+01, 4.500000e+01,
        5.900000e+01, 2.630000e+02, 5.600000e+01, 9.912900e+02],
       [3.700000e+01, 3.800000e+01, 6.700000e+01, 1.130000e+01,
        2.990000e+00, 1.200000e+01, 8.150000e+01, 3.387000e+03,
        3.600000e+00, 5.030000e+01, 1.350000e+01, 5.600000e+01,
        2.100000e+01, 4.400000e+01, 7.300000e+01, 8.939910e+02],
       [4.200000e+01, 2.900000e+01, 7.200000e+01, 1.070000e+01,
        3.190000e+00, 1.010000e+01, 7.950000e+01, 3.508000e+03,
        2.200000e+00, 3.830000e+01, 1.570000e+01, 6.000000e+00,
        4.000000e+00, 1.800000e+01, 5.600000e+01, 9.385000e+02],
       [4.100000e+01, 3.300000e+01, 7.700000e+01, 1.120000e+01,
        3.800000e+00, 9.600000e+00, 7.990000e+01, 4.843000e+03,
        2.700000e+00, 3.860000e+01, 1.410000e+01, 1.100000e+01,
        1.100000e+01, 8.900000e+01, 5.400000e+01, 9.461850e+02],
       [4.400000e+01, 3.900000e+01, 7.800000e+01, 8.200000e+00,
        3.320000e+00, 1.100000e+01, 7.990000e+01, 3.768000e+03,
        2.860000e+01, 4.950000e+01, 1.750000e+01, 1.200000e+01,
        9.000000e+00, 4.800000e+01, 5.300000e+01, 1.025502e+03],
       [3.200000e+01, 2.500000e+01, 7.200000e+01, 1.090000e+01,
        3.210000e+00,          nan, 8.250000e+01, 4.355000e+03,
        5.000000e+00, 4.640000e+01, 1.080000e+01, 7.000000e+00,
        4.000000e+00, 1.800000e+01, 6.000000e+01, 8.742810e+02],
       [3.400000e+01, 3.200000e+01, 7.900000e+01, 9.300000e+00,
        3.230000e+00, 9.700000e+00, 7.680000e+01, 5.160000e+03,
        1.720000e+01, 4.510000e+01, 1.530000e+01, 3.100000e+01,
        1.500000e+01, 6.800000e+01, 5.700000e+01, 9.535600e+02],
       [1.000000e+01, 5.500000e+01, 7.000000e+01, 7.300000e+00,
        3.110000e+00, 1.210000e+01, 8.890000e+01, 3.033000e+03,
        5.900000e+00, 5.100000e+01, 1.400000e+01, 1.440000e+02,
        6.600000e+01,          nan, 6.100000e+01, 8.397090e+02],
       [1.800000e+01, 4.800000e+01, 6.300000e+01, 9.200000e+00,
        2.920000e+00, 1.220000e+01, 8.770000e+01, 4.253000e+03,
        1.370000e+01, 5.120000e+01, 1.200000e+01, 3.110000e+02,
        1.710000e+02, 8.600000e+01, 7.100000e+01, 9.117010e+02],
       [1.300000e+01, 4.900000e+01, 6.800000e+01, 7.000000e+00,
        3.360000e+00, 1.220000e+01, 9.070000e+01, 2.702000e+03,
        3.000000e+00, 5.190000e+01, 9.700000e+00, 1.050000e+02,
        3.200000e+01, 3.000000e+00, 7.100000e+01, 7.907330e+02],
       [3.500000e+01, 4.000000e+01, 6.400000e+01, 9.600000e+00,
        3.200000e+00, 1.220000e+01, 8.250000e+01, 3.626000e+03,
        5.700000e+00, 5.430000e+01, 1.010000e+01, 2.000000e+01,
        7.000000e+00, 2.000000e+01, 7.200000e+01, 8.992640e+02],
       [4.500000e+01, 2.800000e+01, 7.400000e+01, 1.060000e+01,
        3.210000e+00, 1.110000e+01, 8.260000e+01, 1.883000e+03,
        3.400000e+00, 4.190000e+01, 1.230000e+01, 5.000000e+00,
        4.000000e+00, 2.000000e+01, 5.600000e+01, 9.041550e+02],
       [3.800000e+01,          nan, 7.200000e+01, 9.800000e+00,
        3.340000e+00, 1.140000e+01, 7.800000e+01, 4.923000e+03,
        3.800000e+00, 5.050000e+01, 1.110000e+01, 8.000000e+00,
        5.000000e+00, 2.500000e+01, 6.100000e+01, 9.506720e+02],
       [3.100000e+01, 2.600000e+01, 7.300000e+01, 9.300000e+00,
        3.220000e+00, 1.070000e+01, 8.130000e+01, 3.249000e+03,
        9.500000e+00, 4.390000e+01, 1.360000e+01, 1.100000e+01,
        7.000000e+00, 2.500000e+01, 5.900000e+01, 9.724640e+02],
       [4.000000e+01, 2.300000e+01, 7.100000e+01, 1.130000e+01,
        3.280000e+00, 1.030000e+01, 7.380000e+01, 1.671000e+03,
        2.500000e+00, 4.740000e+01, 1.350000e+01, 5.000000e+00,
        2.000000e+00, 1.100000e+01, 6.000000e+01, 9.122020e+02],
       [         nan, 3.700000e+01, 7.800000e+01, 6.200000e+00,
        3.250000e+00, 1.230000e+01, 8.950000e+01, 5.308000e+03,
        2.590000e+01, 5.970000e+01, 1.030000e+01, 6.500000e+01,
        2.800000e+01, 1.020000e+02, 5.200000e+01, 9.678030e+02],
       [2.800000e+01, 3.200000e+01, 8.100000e+01, 7.000000e+00,
        3.270000e+00, 1.210000e+01, 8.100000e+01, 3.665000e+03,
        7.500000e+00, 5.160000e+01, 1.320000e+01, 4.000000e+00,
        2.000000e+00, 1.000000e+00, 5.400000e+01, 8.237640e+02],
       [4.500000e+01, 3.300000e+01, 7.600000e+01, 7.700000e+00,
                 nan, 1.130000e+01, 8.220000e+01, 3.152000e+03,
        1.210000e+01, 4.730000e+01, 1.090000e+01, 1.400000e+01,
        1.100000e+01, 4.200000e+01, 5.600000e+01, 1.003502e+03],
       [4.500000e+01, 2.400000e+01, 7.000000e+01, 1.180000e+01,
        3.250000e+00, 1.110000e+01, 7.980000e+01, 3.678000e+03,
        1.000000e+00, 4.480000e+01, 1.400000e+01, 7.000000e+00,
        3.000000e+00, 8.000000e+00, 5.600000e+01, 8.956960e+02],
       [4.200000e+01, 8.300000e+01, 7.600000e+01, 9.700000e+00,
        3.220000e+00, 9.000000e+00, 7.620000e+01, 9.699000e+03,
        4.800000e+00, 4.220000e+01, 1.450000e+01, 8.000000e+00,
        8.000000e+00, 4.900000e+01, 5.400000e+01, 9.118170e+02],
       [3.800000e+01, 2.800000e+01, 7.200000e+01, 8.900000e+00,
        3.480000e+00, 1.070000e+01, 7.980000e+01, 3.451000e+03,
        1.170000e+01, 3.750000e+01, 1.300000e+01, 1.400000e+01,
        1.300000e+01, 3.900000e+01, 5.800000e+01, 9.544420e+02]])

In [6]:
# zad1 a
cell_count = z1nparr.size
print(f'cell_count={cell_count}')

cell_count=960

In [7]:
# zad1 b
row_count = z1nparr.shape[0]
col_count = z1nparr.shape[1]
print(f'row_count={row_count}, col_count={col_count}')

row_count=60, col_count=16

In [8]:
# zad1 c
mean = np.nanmean(z1nparr)
med = np.nanmedian(z1nparr)
var = np.nanvar(z1nparr)
print(f'mean={mean}, med={med}, var={var}')

mean=338.22093191489364, med=33.4, var=1036473.5935947594

In [9]:
# zad1 d
z1nparr = z1nparr[~np.isnan(z1nparr)]
z1nparr

array([3.600000e+01, 2.700000e+01, 7.100000e+01, 8.100000e+00,
       3.340000e+00, 1.140000e+01, 8.150000e+01, 3.243000e+03,
       8.800000e+00, 4.260000e+01, 1.170000e+01, 2.100000e+01,
       5.900000e+01, 5.900000e+01, 9.218700e+02, 3.500000e+01,
       2.300000e+01, 7.200000e+01, 1.110000e+01, 3.140000e+00,
       1.100000e+01, 7.880000e+01, 4.281000e+03, 3.600000e+00,
       5.070000e+01, 1.440000e+01, 8.000000e+00, 1.000000e+01,
       3.900000e+01, 5.700000e+01, 9.978750e+02, 4.400000e+01,
       2.900000e+01, 7.400000e+01, 1.040000e+01, 3.210000e+00,
       9.800000e+00, 8.160000e+01, 4.260000e+03, 8.000000e-01,
       3.940000e+01, 6.000000e+00, 6.000000e+00, 3.300000e+01,
       5.400000e+01, 9.623540e+02, 4.700000e+01, 4.500000e+01,
       7.900000e+01, 6.500000e+00, 3.410000e+00, 1.110000e+01,
       7.750000e+01, 3.125000e+03, 2.710000e+01, 5.020000e+01,
       2.060000e+01, 1.800000e+01, 8.000000e+00, 2.400000e+01,
       5.600000e+01, 9.822910e+02, 4.300000e+01, 3.500000e+01,
       7.700000e+01, 7.600000e+00, 3.440000e+00, 9.600000e+00,
       8.460000e+01, 6.441000e+03, 2.440000e+01, 4.370000e+01,
       1.430000e+01, 4.300000e+01, 3.800000e+01, 5.500000e+01,
       1.071289e+03, 5.300000e+01, 4.500000e+01, 8.000000e+01,
       7.700000e+00, 3.450000e+00, 1.020000e+01, 6.680000e+01,
       3.325000e+03, 3.850000e+01, 4.310000e+01, 2.550000e+01,
       3.000000e+01, 3.200000e+01, 7.200000e+01, 5.400000e+01,
       1.030380e+03, 4.300000e+01, 3.000000e+01, 7.400000e+01,
       1.090000e+01, 3.230000e+00, 1.210000e+01, 8.390000e+01,
       4.679000e+03, 3.500000e+00, 4.920000e+01, 1.130000e+01,
       2.100000e+01, 3.200000e+01, 6.200000e+01, 5.600000e+01,
       9.347000e+02, 4.500000e+01, 3.000000e+01, 7.300000e+01,
       9.300000e+00, 3.290000e+00, 1.060000e+01, 8.600000e+01,
       2.140000e+03, 5.300000e+00, 4.040000e+01, 1.050000e+01,
       6.000000e+00, 4.000000e+00, 4.000000e+00, 5.600000e+01,
       8.995290e+02, 3.600000e+01, 2.400000e+01, 7.000000e+01,
       9.000000e+00, 3.310000e+00, 1.050000e+01, 8.320000e+01,
       6.582000e+03, 8.100000e+00, 4.250000e+01, 1.260000e+01,
       1.800000e+01, 1.200000e+01, 3.700000e+01, 6.100000e+01,
       1.001902e+03, 3.600000e+01, 2.700000e+01, 7.200000e+01,
       9.500000e+00, 3.360000e+00, 1.070000e+01, 7.930000e+01,
       4.213000e+03, 6.700000e+00, 4.100000e+01, 1.320000e+01,
       1.200000e+01, 7.000000e+00, 2.000000e+01, 5.900000e+01,
       9.123470e+02, 5.200000e+01, 4.200000e+01, 7.900000e+01,
       7.700000e+00, 3.390000e+00, 9.600000e+00, 6.920000e+01,
       2.302000e+03, 2.220000e+01, 4.130000e+01, 2.420000e+01,
       1.800000e+01, 8.000000e+00, 2.700000e+01, 5.600000e+01,
       1.017613e+03, 3.300000e+01, 2.600000e+01, 7.600000e+01,
       8.600000e+00, 3.200000e+00, 1.090000e+01, 8.340000e+01,
       6.122000e+03, 1.630000e+01, 4.490000e+01, 1.070000e+01,
       8.800000e+01, 6.300000e+01, 2.780000e+02, 5.800000e+01,
       1.024885e+03, 4.000000e+01, 3.400000e+01, 7.700000e+01,
       9.200000e+00, 3.210000e+00, 1.020000e+01, 7.700000e+01,
       4.101000e+03, 1.300000e+01, 4.570000e+01, 1.510000e+01,
       2.600000e+01, 2.600000e+01, 1.460000e+02, 5.700000e+01,
       9.704670e+02, 3.500000e+01, 2.800000e+01, 7.100000e+01,
       8.800000e+00, 3.290000e+00, 1.110000e+01, 8.630000e+01,
       3.042000e+03, 1.470000e+01, 4.460000e+01, 1.140000e+01,
       3.100000e+01, 2.100000e+01, 6.000000e+01, 9.859500e+02,
       3.700000e+01, 3.100000e+01, 7.500000e+01, 8.000000e+00,
       3.260000e+00, 1.190000e+01, 7.840000e+01, 4.259000e+03,
       1.310000e+01, 4.960000e+01, 1.390000e+01, 2.300000e+01,
       9.000000e+00, 1.500000e+01, 5.800000e+01, 9.588390e+02,
       3.500000e+01, 4.600000e+01, 8.500000e+01, 7.100000e+00,
       3.220000e+00, 1.180000e+01, 7.990000e+01, 1.441000e+03,
       1.480000e+01, 5.120000e+01, 1.610000e+01, 1.000000e+00,
       1.000000e+00, 1.000000e+00, 5.400000e+01, 8.601010e+02,
       3.600000e+01, 3.000000e+01, 7.500000e+01, 7.500000e+00,
       3.350000e+00, 1.140000e+01, 8.190000e+01, 4.029000e+03,
       1.240000e+01, 4.400000e+01, 1.200000e+01, 6.000000e+00,
       4.000000e+00, 1.600000e+01, 5.800000e+01, 9.362340e+02,
       1.500000e+01, 3.000000e+01, 7.300000e+01, 8.200000e+00,
       3.150000e+00, 1.220000e+01, 8.420000e+01, 4.824000e+03,
       4.700000e+00, 5.310000e+01, 1.270000e+01, 1.700000e+01,
       8.000000e+00, 2.800000e+01, 3.800000e+01, 8.717660e+02,
       3.100000e+01, 2.700000e+01, 7.400000e+01, 7.200000e+00,
       3.440000e+00, 1.080000e+01, 8.700000e+01, 4.834000e+03,
       1.580000e+01, 4.350000e+01, 1.360000e+01, 5.200000e+01,
       3.500000e+01, 1.240000e+02, 5.900000e+01, 9.592210e+02,
       2.400000e+01, 7.200000e+01, 6.500000e+00, 3.530000e+00,
       1.080000e+01, 7.950000e+01, 3.694000e+03, 1.310000e+01,
       3.380000e+01, 1.240000e+01, 1.100000e+01, 4.000000e+00,
       1.100000e+01, 6.100000e+01, 9.411810e+02, 3.100000e+01,
       4.500000e+01, 8.500000e+01, 7.300000e+00, 3.220000e+00,
       1.140000e+01, 8.070000e+01, 1.844000e+03, 1.150000e+01,
       4.810000e+01, 1.850000e+01, 1.000000e+00, 1.000000e+00,
       1.000000e+00, 5.300000e+01, 8.917080e+02, 3.100000e+01,
       2.400000e+01, 7.200000e+01, 9.000000e+00, 3.370000e+00,
       1.090000e+01, 8.280000e+01, 3.226000e+03, 5.100000e+00,
       4.520000e+01, 1.230000e+01, 5.000000e+00, 3.000000e+00,
       1.000000e+01, 6.100000e+01, 8.713380e+02, 4.200000e+01,
       4.000000e+01, 7.700000e+01, 6.100000e+00, 3.450000e+00,
       1.040000e+01, 7.180000e+01, 2.269000e+03, 2.270000e+01,
       4.140000e+01, 1.950000e+01, 8.000000e+00, 3.000000e+00,
       5.000000e+00, 5.300000e+01, 9.711220e+02, 4.300000e+01,
       2.700000e+01, 7.200000e+01, 9.000000e+00, 3.250000e+00,
       1.150000e+01, 8.710000e+01, 2.909000e+03, 7.200000e+00,
       5.160000e+01, 9.500000e+00, 7.000000e+00, 1.000000e+01,
       5.600000e+01, 8.874660e+02, 4.600000e+01, 5.500000e+01,
       8.400000e+01, 5.600000e+00, 3.350000e+00, 1.140000e+01,
       7.970000e+01, 2.647000e+03, 2.100000e+01, 4.690000e+01,
       1.790000e+01, 6.000000e+00, 5.000000e+00, 1.000000e+00,
       5.900000e+01, 9.525290e+02, 3.900000e+01, 7.600000e+01,
       8.700000e+00, 3.230000e+00, 1.140000e+01, 7.860000e+01,
       4.412000e+03, 1.560000e+01, 4.660000e+01, 1.320000e+01,
       1.300000e+01, 7.000000e+00, 3.300000e+01, 6.000000e+01,
       9.686650e+02, 3.500000e+01, 3.100000e+01, 8.100000e+01,
       9.200000e+00, 3.100000e+00, 1.200000e+01, 7.830000e+01,
       3.262000e+03, 1.260000e+01, 4.860000e+01, 1.390000e+01,
       7.000000e+00, 4.000000e+00, 4.000000e+00, 5.500000e+01,
       9.197290e+02, 3.200000e+01, 7.400000e+01, 1.010000e+01,
       3.380000e+00, 9.500000e+00, 7.920000e+01, 3.214000e+03,
       2.900000e+00, 4.370000e+01, 1.200000e+01, 1.100000e+01,
       7.000000e+00, 3.200000e+01, 5.400000e+01, 8.440530e+02,
       1.100000e+01, 5.300000e+01, 6.800000e+01, 9.200000e+00,
       2.990000e+00, 1.210000e+01, 9.060000e+01, 4.700000e+03,
       7.800000e+00, 4.890000e+01, 1.230000e+01, 6.480000e+02,
       3.190000e+02, 1.300000e+02, 4.700000e+01, 8.618330e+02,
       3.000000e+01, 3.500000e+01, 7.100000e+01, 8.300000e+00,
       3.370000e+00, 9.900000e+00, 7.740000e+01, 4.474000e+03,
       1.310000e+01, 4.260000e+01, 1.770000e+01, 3.800000e+01,
       3.700000e+01, 1.930000e+02, 5.700000e+01, 9.892650e+02,
       5.000000e+01, 4.200000e+01, 8.200000e+01, 7.300000e+00,
       3.490000e+00, 1.040000e+01, 7.250000e+01, 3.497000e+03,
       3.670000e+01, 4.330000e+01, 2.640000e+01, 1.500000e+01,
       1.000000e+01, 3.400000e+01, 5.900000e+01, 1.006490e+03,
       6.000000e+01, 6.700000e+01, 8.200000e+01, 1.000000e+01,
       2.980000e+00, 1.150000e+01, 8.860000e+01, 4.657000e+03,
       1.360000e+01, 4.730000e+01, 2.240000e+01, 1.000000e+00,
       1.000000e+00, 6.000000e+01, 8.614390e+02, 6.900000e+01,
       8.800000e+00, 3.260000e+00, 1.110000e+01, 2.934000e+03,
       5.800000e+00, 4.400000e+01, 9.400000e+00, 3.300000e+01,
       2.300000e+01, 1.250000e+02, 6.400000e+01, 9.291500e+02,
       2.500000e+01, 1.200000e+01, 7.300000e+01, 9.200000e+00,
       3.280000e+00, 1.210000e+01, 8.310000e+01, 2.095000e+03,
       2.000000e+00, 5.190000e+01, 9.800000e+00, 2.000000e+01,
       1.100000e+01, 2.600000e+01, 5.000000e+01, 8.576220e+02,
       4.500000e+01, 4.000000e+01, 8.000000e+01, 8.300000e+00,
       3.320000e+00, 1.010000e+01, 7.030000e+01, 2.682000e+03,
       2.100000e+01, 4.610000e+01, 2.410000e+01, 1.700000e+01,
       1.400000e+01, 7.800000e+01, 5.600000e+01, 9.610090e+02,
       4.600000e+01, 3.000000e+01, 1.020000e+01, 3.160000e+00,
       1.130000e+01, 8.320000e+01, 3.327000e+03, 4.530000e+01,
       1.220000e+01, 4.000000e+00, 3.000000e+00, 8.000000e+00,
       5.800000e+01, 9.232340e+02, 5.400000e+01, 5.400000e+01,
       8.100000e+01, 7.400000e+00, 3.360000e+00, 9.700000e+00,
       7.280000e+01, 3.172000e+03, 3.140000e+01, 4.550000e+01,
       2.420000e+01, 1.700000e+01, 1.000000e+00, 6.200000e+01,
       1.113156e+03, 4.200000e+01, 3.300000e+01, 7.700000e+01,
       9.700000e+00, 3.300000e+00, 1.070000e+01, 8.350000e+01,
       7.462000e+03, 1.130000e+01, 4.870000e+01, 1.240000e+01,
       4.100000e+01, 2.600000e+01, 1.080000e+02, 5.800000e+01,
       9.946480e+02, 4.200000e+01, 3.200000e+01, 7.600000e+01,
       9.100000e+00, 3.320000e+00, 1.050000e+01, 8.750000e+01,
       6.092000e+03, 1.750000e+01, 4.530000e+01, 1.320000e+01,
       2.900000e+01, 3.200000e+01, 1.610000e+02, 5.400000e+01,
       1.015023e+03, 3.600000e+01, 2.900000e+01, 7.200000e+01,
       9.500000e+00, 3.320000e+00, 1.060000e+01, 7.760000e+01,
       3.437000e+03, 8.100000e+00, 4.550000e+01, 1.380000e+01,
       4.500000e+01, 5.900000e+01, 2.630000e+02, 5.600000e+01,
       9.912900e+02, 3.700000e+01, 3.800000e+01, 6.700000e+01,
       1.130000e+01, 2.990000e+00, 1.200000e+01, 8.150000e+01,
       3.387000e+03, 3.600000e+00, 5.030000e+01, 1.350000e+01,
       5.600000e+01, 2.100000e+01, 4.400000e+01, 7.300000e+01,
       8.939910e+02, 4.200000e+01, 2.900000e+01, 7.200000e+01,
       1.070000e+01, 3.190000e+00, 1.010000e+01, 7.950000e+01,
       3.508000e+03, 2.200000e+00, 3.830000e+01, 1.570000e+01,
       6.000000e+00, 4.000000e+00, 1.800000e+01, 5.600000e+01,
       9.385000e+02, 4.100000e+01, 3.300000e+01, 7.700000e+01,
       1.120000e+01, 3.800000e+00, 9.600000e+00, 7.990000e+01,
       4.843000e+03, 2.700000e+00, 3.860000e+01, 1.410000e+01,
       1.100000e+01, 1.100000e+01, 8.900000e+01, 5.400000e+01,
       9.461850e+02, 4.400000e+01, 3.900000e+01, 7.800000e+01,
       8.200000e+00, 3.320000e+00, 1.100000e+01, 7.990000e+01,
       3.768000e+03, 2.860000e+01, 4.950000e+01, 1.750000e+01,
       1.200000e+01, 9.000000e+00, 4.800000e+01, 5.300000e+01,
       1.025502e+03, 3.200000e+01, 2.500000e+01, 7.200000e+01,
       1.090000e+01, 3.210000e+00, 8.250000e+01, 4.355000e+03,
       5.000000e+00, 4.640000e+01, 1.080000e+01, 7.000000e+00,
       4.000000e+00, 1.800000e+01, 6.000000e+01, 8.742810e+02,
       3.400000e+01, 3.200000e+01, 7.900000e+01, 9.300000e+00,
       3.230000e+00, 9.700000e+00, 7.680000e+01, 5.160000e+03,
       1.720000e+01, 4.510000e+01, 1.530000e+01, 3.100000e+01,
       1.500000e+01, 6.800000e+01, 5.700000e+01, 9.535600e+02,
       1.000000e+01, 5.500000e+01, 7.000000e+01, 7.300000e+00,
       3.110000e+00, 1.210000e+01, 8.890000e+01, 3.033000e+03,
       5.900000e+00, 5.100000e+01, 1.400000e+01, 1.440000e+02,
       6.600000e+01, 6.100000e+01, 8.397090e+02, 1.800000e+01,
       4.800000e+01, 6.300000e+01, 9.200000e+00, 2.920000e+00,
       1.220000e+01, 8.770000e+01, 4.253000e+03, 1.370000e+01,
       5.120000e+01, 1.200000e+01, 3.110000e+02, 1.710000e+02,
       8.600000e+01, 7.100000e+01, 9.117010e+02, 1.300000e+01,
       4.900000e+01, 6.800000e+01, 7.000000e+00, 3.360000e+00,
       1.220000e+01, 9.070000e+01, 2.702000e+03, 3.000000e+00,
       5.190000e+01, 9.700000e+00, 1.050000e+02, 3.200000e+01,
       3.000000e+00, 7.100000e+01, 7.907330e+02, 3.500000e+01,
       4.000000e+01, 6.400000e+01, 9.600000e+00, 3.200000e+00,
       1.220000e+01, 8.250000e+01, 3.626000e+03, 5.700000e+00,
       5.430000e+01, 1.010000e+01, 2.000000e+01, 7.000000e+00,
       2.000000e+01, 7.200000e+01, 8.992640e+02, 4.500000e+01,
       2.800000e+01, 7.400000e+01, 1.060000e+01, 3.210000e+00,
       1.110000e+01, 8.260000e+01, 1.883000e+03, 3.400000e+00,
       4.190000e+01, 1.230000e+01, 5.000000e+00, 4.000000e+00,
       2.000000e+01, 5.600000e+01, 9.041550e+02, 3.800000e+01,
       7.200000e+01, 9.800000e+00, 3.340000e+00, 1.140000e+01,
       7.800000e+01, 4.923000e+03, 3.800000e+00, 5.050000e+01,
       1.110000e+01, 8.000000e+00, 5.000000e+00, 2.500000e+01,
       6.100000e+01, 9.506720e+02, 3.100000e+01, 2.600000e+01,
       7.300000e+01, 9.300000e+00, 3.220000e+00, 1.070000e+01,
       8.130000e+01, 3.249000e+03, 9.500000e+00, 4.390000e+01,
       1.360000e+01, 1.100000e+01, 7.000000e+00, 2.500000e+01,
       5.900000e+01, 9.724640e+02, 4.000000e+01, 2.300000e+01,
       7.100000e+01, 1.130000e+01, 3.280000e+00, 1.030000e+01,
       7.380000e+01, 1.671000e+03, 2.500000e+00, 4.740000e+01,
       1.350000e+01, 5.000000e+00, 2.000000e+00, 1.100000e+01,
       6.000000e+01, 9.122020e+02, 3.700000e+01, 7.800000e+01,
       6.200000e+00, 3.250000e+00, 1.230000e+01, 8.950000e+01,
       5.308000e+03, 2.590000e+01, 5.970000e+01, 1.030000e+01,
       6.500000e+01, 2.800000e+01, 1.020000e+02, 5.200000e+01,
       9.678030e+02, 2.800000e+01, 3.200000e+01, 8.100000e+01,
       7.000000e+00, 3.270000e+00, 1.210000e+01, 8.100000e+01,
       3.665000e+03, 7.500000e+00, 5.160000e+01, 1.320000e+01,
       4.000000e+00, 2.000000e+00, 1.000000e+00, 5.400000e+01,
       8.237640e+02, 4.500000e+01, 3.300000e+01, 7.600000e+01,
       7.700000e+00, 1.130000e+01, 8.220000e+01, 3.152000e+03,
       1.210000e+01, 4.730000e+01, 1.090000e+01, 1.400000e+01,
       1.100000e+01, 4.200000e+01, 5.600000e+01, 1.003502e+03,
       4.500000e+01, 2.400000e+01, 7.000000e+01, 1.180000e+01,
       3.250000e+00, 1.110000e+01, 7.980000e+01, 3.678000e+03,
       1.000000e+00, 4.480000e+01, 1.400000e+01, 7.000000e+00,
       3.000000e+00, 8.000000e+00, 5.600000e+01, 8.956960e+02,
       4.200000e+01, 8.300000e+01, 7.600000e+01, 9.700000e+00,
       3.220000e+00, 9.000000e+00, 7.620000e+01, 9.699000e+03,
       4.800000e+00, 4.220000e+01, 1.450000e+01, 8.000000e+00,
       8.000000e+00, 4.900000e+01, 5.400000e+01, 9.118170e+02,
       3.800000e+01, 2.800000e+01, 7.200000e+01, 8.900000e+00,
       3.480000e+00, 1.070000e+01, 7.980000e+01, 3.451000e+03,
       1.170000e+01, 3.750000e+01, 1.300000e+01, 1.400000e+01,
       1.300000e+01, 3.900000e+01, 5.800000e+01, 9.544420e+02])

In [10]:
np.isnan(z1nparr).any()

False

In [11]:
mean = np.mean(z1nparr)
med = np.median(z1nparr)
var = np.var(z1nparr)
print(f'mean={mean}, med={med}, var={var}')

mean=338.2209319148936, med=33.4, var=1036473.5935947594

Zad 2

In [12]:
# zad2 a
z2nparr = np.genfromtxt('Zadanie_2.csv', delimiter=';')
z2nparr

array([[  1.,   2.,  15., -59.,   9.,   3.,  75.,   6.,   7.,   1.],
       [  0.,   5.,   0.,   4.,   6.,  16.,  44.,   7.,   1.,   1.],
       [  7.,  14.,   3., -10.,   9.,  15.,  73.,   8.,   2.,   9.],
       [  1.,   5.,  15., -54.,   5.,  15.,  35.,   8.,   6.,   4.],
       [  0.,   8.,   5., -18.,   7.,  16.,  91.,   6.,   7.,   9.],
       [  7.,  18.,  23., -90.,   4.,   8.,  31.,   0.,   1.,   7.],
       [  2.,   8.,  20., -72.,   4.,   1.,  91.,   9.,   4.,   4.],
       [  4.,  12.,  18., -65.,   6.,   9.,  76.,   4.,   9.,   9.],
       [  7.,  15.,  13., -52.,   5.,   7.,  54.,   2.,   7.,   0.],
       [  2.,   9.,  15., -56.,   6.,   1.,  98.,   4.,   8.,   4.]])

In [13]:
z2nparr.shape

(10, 10)

In [14]:
EIG = np.linalg.eig(z2nparr)
EIG

(array([104.34960192 +0.j        , -23.35660516+18.84992811j,
        -23.35660516-18.84992811j,  15.92989017 +0.j        ,
         -4.99456452 +0.j        ,   0.35205717 +5.80125175j,
          0.35205717 -5.80125175j,  -1.03383491 +0.j        ,
          3.87900166 +1.42651533j,   3.87900166 -1.42651533j]),
 array([[-0.29000475+0.j        , -0.07545445+0.07743149j,
         -0.07545445-0.07743149j, -0.03544485+0.j        ,
          0.42681634+0.j        , -0.22172831-0.29869259j,
         -0.22172831+0.29869259j,  0.41343726+0.j        ,
         -0.28670255+0.21891569j, -0.28670255-0.21891569j],
        [-0.24163153+0.j        ,  0.41229621+0.09197324j,
          0.41229621-0.09197324j,  0.45873475+0.j        ,
         -0.27056206+0.j        , -0.01331344+0.1422557j ,
         -0.01331344-0.1422557j , -0.31591047+0.j        ,
          0.41954481-0.10561864j,  0.41954481+0.10561864j],
        [-0.41060573+0.j        ,  0.37509638-0.00960818j,
          0.37509638+0.00960818j,  0.64067986+0.j        ,
         -0.37967609+0.j        , -0.60525232+0.j        ,
         -0.60525232-0.j        ,  0.6457768 +0.j        ,
          0.63631555+0.j        ,  0.63631555-0.j        ],
        [-0.18899971+0.j        , -0.05624951+0.174848j  ,
         -0.05624951-0.174848j  ,  0.25174536+0.j        ,
         -0.07625465+0.j        , -0.14870016-0.00795735j,
         -0.14870016+0.00795735j,  0.15206852+0.j        ,
          0.21373907+0.00228636j,  0.21373907-0.00228636j],
        [-0.42862199+0.j        ,  0.47707538+0.14580554j,
          0.47707538-0.14580554j,  0.39445834+0.j        ,
         -0.69542141+0.j        ,  0.07336021-0.43070469j,
          0.07336021+0.43070469j, -0.25948775+0.j        ,
          0.20250102-0.00411374j,  0.20250102+0.00411374j],
        [-0.14730562+0.j        , -0.57352911+0.j        ,
         -0.57352911-0.j        ,  0.10071325+0.j        ,
          0.30158403+0.j        , -0.04758838+0.12911829j,
         -0.04758838-0.12911829j,  0.21274791+0.j        ,
         -0.1503483 +0.03452906j, -0.1503483 -0.03452906j],
        [-0.34660607+0.j        , -0.13987374+0.06837303j,
         -0.13987374-0.06837303j, -0.04800705+0.j        ,
          0.06798106+0.j        ,  0.00512204+0.04215641j,
          0.00512204-0.04215641j,  0.05365357+0.j        ,
         -0.0534517 +0.00550802j, -0.0534517 -0.00550802j],
        [-0.34919853+0.j        , -0.08414467+0.07749664j,
         -0.08414467-0.07749664j,  0.25925893+0.j        ,
         -0.10039982+0.j        , -0.06761437-0.25584347j,
         -0.06761437+0.25584347j, -0.38214447+0.j        ,
          0.29485109-0.01300678j,  0.29485109+0.01300678j],
        [-0.2440048 +0.j        , -0.13777908+0.00402196j,
         -0.13777908-0.00402196j,  0.27709282+0.j        ,
         -0.00524365+0.j        ,  0.21866893+0.04463336j,
          0.21866893-0.04463336j, -0.12045798+0.j        ,
          0.27558332+0.02285482j,  0.27558332-0.02285482j],
        [-0.38231403+0.j        , -0.00476199+0.03456836j,
         -0.00476199-0.03456836j,  0.04918165+0.j        ,
          0.07322815+0.j        ,  0.1819345 -0.29687727j,
          0.1819345 +0.29687727j, -0.11445044+0.j        ,
          0.02830199+0.00579727j,  0.02830199-0.00579727j]]))

In [15]:
# zad2 b
inv = np.linalg.inv(z2nparr)
inv

array([[ 0.47461371,  0.13269253, -0.24726695, -0.82965177,  0.28250384,
        -0.17012825,  0.58274426,  0.83686705,  0.4146721 , -1.56942847],
       [-0.38032531, -0.11226789,  0.23216372,  0.58853747, -0.2508954 ,
         0.10174485, -0.40729564, -0.58325689, -0.2335154 ,  1.11832726],
       [ 0.13559662,  0.58950334, -0.24709855, -0.58789838, -0.30170699,
        -0.12721938,  0.23740295,  1.01003036, -0.02151387, -0.64590149],
       [ 0.01425207,  0.14570726, -0.04557569, -0.12721972, -0.08945184,
        -0.03756624,  0.03910376,  0.23606066, -0.01436771, -0.11345749],
       [-0.09473246,  0.01725249,  0.19145597,  0.32960274, -0.28626296,
         0.08348529, -0.37577603, -0.27295934, -0.25855803,  0.74691827],
       [ 0.16387032,  0.10075684, -0.15404907, -0.29794662,  0.16916877,
        -0.02827782,  0.20469921,  0.28036265,  0.15086178, -0.5882585 ],
       [ 0.04288003,  0.02246462, -0.0366803 , -0.09024915,  0.04322146,
        -0.01047861,  0.06167348,  0.07009721,  0.0367806 , -0.14185925],
       [-0.26858433, -0.21167346,  0.25168367,  0.55607234, -0.16804333,
         0.01066975, -0.22435849, -0.52957038, -0.15757224,  0.77302113],
       [-0.15583541, -0.13041404,  0.0984558 ,  0.3150966 , -0.09916278,
        -0.04426337, -0.20832614, -0.18404388, -0.04309498,  0.45794224],
       [-0.05970783, -0.11342903,  0.09122544,  0.11908074, -0.00311646,
         0.02370807, -0.07526552, -0.06924544, -0.10963836,  0.16553689]])

Zad 3

In [16]:
# zad3
A = np.genfromtxt('Zadanie_3_macierz_A.csv', delimiter=',')
A

array([[2., 2., 3.],
       [1., 0., 4.],
       [6., 9., 7.]])

In [17]:
B = np.genfromtxt('Zadanie_3_macierz_B.csv', delimiter=',')
print(B)
print(B.T)

[[ 1.  5.  2.]
 [ 6.  6.  4.]
 [ 1. 10.  7.]
 [ 5.  8.  2.]
 [ 3.  0.  6.]]
[[ 1.  6.  1.  5.  3.]
 [ 5.  6. 10.  8.  0.]
 [ 2.  4.  7.  2.  6.]]

In [18]:
dividend = np.dot(A, B.T)
dividend

array([[ 18.,  36.,  43.,  32.,  24.],
       [  9.,  22.,  29.,  13.,  27.],
       [ 65., 118., 145., 116.,  60.]])

In [19]:
divider1 = np.sqrt(np.sum(A**2, axis=1))
divider2 = np.sqrt(np.sum(B**2, axis=1))
divider1, divider2

(array([ 4.12310563,  4.12310563, 12.88409873]),
 array([ 5.47722558,  9.38083152, 12.24744871,  9.64365076,  6.70820393]))

In [20]:
divider1 = np.sqrt(np.sum(A**2, axis=1))[:, np.newaxis]
divider2 = np.sqrt(np.sum(B**2, axis=1))[np.newaxis, :]
dividend/(divider1*divider2)

array([[0.7970534 , 0.93075784, 0.85152689, 0.80479273, 0.86772183],
       [0.3985267 , 0.56879646, 0.57428557, 0.32694705, 0.97618706],
       [0.92108283, 0.9763075 , 0.91890016, 0.9336035 , 0.69421013]])

Zad 4

In [21]:
zad4 = pd.read_csv('Zadanie_4.csv', sep=';')
zad4

,DateTime,DoctorID,Type,City,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,16.03.2020 12:00,1,GP,Warsaw,NaN,NaN,NaN,NaN
1,16.03.2020 12:01,1,GP,Warsaw,NaN,NaN,NaN,NaN
2,16.03.2020 12:02,1,GP,Warsaw,NaN,NaN,NaN,NaN
3,16.03.2020 12:03,1,GP,Warsaw,NaN,NaN,NaN,NaN
4,16.03.2020 12:04,1,GP,Warsaw,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
194,29.03.2020 14:33,1,GP,Warsaw,NaN,NaN,NaN,NaN
195,29.03.2020 14:34,1,GP,Warsaw,NaN,NaN,NaN,NaN
196,29.03.2020 14:35,1,GP,Warsaw,NaN,NaN,NaN,NaN
197,29.03.2020 14:36,1,GP,Warsaw,NaN,NaN,NaN,NaN
198,29.03.2020 14:37,1,GP,Warsaw,NaN,NaN,NaN,NaN

In [22]:
zad4 = zad4.loc[:, ~zad4.columns.str.contains('^Unnamed')]
zad4

             DateTime  DoctorID Type    City
0    16.03.2020 12:00         1   GP  Warsaw
1    16.03.2020 12:01         1   GP  Warsaw
2    16.03.2020 12:02         1   GP  Warsaw
3    16.03.2020 12:03         1   GP  Warsaw
4    16.03.2020 12:04         1   GP  Warsaw
..                ...       ...  ...     ...
194  29.03.2020 14:33         1   GP  Warsaw
195  29.03.2020 14:34         1   GP  Warsaw
196  29.03.2020 14:35         1   GP  Warsaw
197  29.03.2020 14:36         1   GP  Warsaw
198  29.03.2020 14:37         1   GP  Warsaw

[199 rows x 4 columns]

In [23]:
zad4['Date'] = pd.to_datetime(zad4['DateTime']).dt.date
zad4['Time'] = pd.to_datetime(zad4['DateTime']).dt.time
zad4

/tmp/ipykernel_3160/4137987454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zad4['Date'] = pd.to_datetime(zad4['DateTime']).dt.date
/tmp/ipykernel_3160/4137987454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zad4['Time'] = pd.to_datetime(zad4['DateTime']).dt.time

             DateTime  DoctorID Type    City        Date      Time
0    16.03.2020 12:00         1   GP  Warsaw  2020-03-16  12:00:00
1    16.03.2020 12:01         1   GP  Warsaw  2020-03-16  12:01:00
2    16.03.2020 12:02         1   GP  Warsaw  2020-03-16  12:02:00
3    16.03.2020 12:03         1   GP  Warsaw  2020-03-16  12:03:00
4    16.03.2020 12:04         1   GP  Warsaw  2020-03-16  12:04:00
..                ...       ...  ...     ...         ...       ...
194  29.03.2020 14:33         1   GP  Warsaw  2020-03-29  14:33:00
195  29.03.2020 14:34         1   GP  Warsaw  2020-03-29  14:34:00
196  29.03.2020 14:35         1   GP  Warsaw  2020-03-29  14:35:00
197  29.03.2020 14:36         1   GP  Warsaw  2020-03-29  14:36:00
198  29.03.2020 14:37         1   GP  Warsaw  2020-03-29  14:37:00

[199 rows x 6 columns]

In [24]:
zad4.drop(labels='DateTime', inplace=True, axis=1)
zad4

/home/s26549/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

     DoctorID Type    City        Date      Time
0           1   GP  Warsaw  2020-03-16  12:00:00
1           1   GP  Warsaw  2020-03-16  12:01:00
2           1   GP  Warsaw  2020-03-16  12:02:00
3           1   GP  Warsaw  2020-03-16  12:03:00
4           1   GP  Warsaw  2020-03-16  12:04:00
..        ...  ...     ...         ...       ...
194         1   GP  Warsaw  2020-03-29  14:33:00
195         1   GP  Warsaw  2020-03-29  14:34:00
196         1   GP  Warsaw  2020-03-29  14:35:00
197         1   GP  Warsaw  2020-03-29  14:36:00
198         1   GP  Warsaw  2020-03-29  14:37:00

[199 rows x 5 columns]

In [25]:
df1 = zad4.groupby(['Date', 'City', 'DoctorID', 'Type']).min()
df1.reset_index()
df1

                                              Time
Date       City   DoctorID Type
2020-03-16 Krakow 2        GP             12:00:00
           Warsaw 1        GP             12:00:00
2020-03-22 Warsaw 3        Sugreon        08:01:00
2020-03-29 Warsaw 1        GP             14:00:00
2020-10-04 Krakow 4        Opthomologist  13:20:00

In [26]:
df2 = zad4.groupby(['Date', 'City', 'DoctorID', 'Type']).max()
df2.reset_index()
df2

                                              Time
Date       City   DoctorID Type
2020-03-16 Krakow 2        GP             12:49:00
           Warsaw 1        GP             14:01:00
2020-03-22 Warsaw 3        Sugreon        09:06:00
2020-03-29 Warsaw 1        GP             14:37:00
2020-10-04 Krakow 4        Opthomologist  13:34:00

In [27]:
df3 = pd.merge(df1, df2, how='inner', on=['Date', 'City', 'DoctorID', 'Type'])
df3

                                            Time_x    Time_y
Date       City   DoctorID Type
2020-03-16 Krakow 2        GP             12:00:00  12:49:00
           Warsaw 1        GP             12:00:00  14:01:00
2020-03-22 Warsaw 3        Sugreon        08:01:00  09:06:00
2020-03-29 Warsaw 1        GP             14:00:00  14:37:00
2020-10-04 Krakow 4        Opthomologist  13:20:00  13:34:00

In [28]:
df3.rename(columns={'Time_x':'From', 'Time_y':'To'}, inplace=True)
df3.reset_index()
df3

                                              From        To
Date       City   DoctorID Type
2020-03-16 Krakow 2        GP             12:00:00  12:49:00
           Warsaw 1        GP             12:00:00  14:01:00
2020-03-22 Warsaw 3        Sugreon        08:01:00  09:06:00
2020-03-29 Warsaw 1        GP             14:00:00  14:37:00
2020-10-04 Krakow 4        Opthomologist  13:20:00  13:34:00

In [29]:
df3.to_csv('doc_availability.csv', sep=';')